/******************************

Snooker Scorer App: 
Last Update: 08/05/2025 - 12:09
******************************/
* {
  padding: 0;
  margin: 0;
}

/* main.scss */
body {
  color: white;
  background: #016c26;
  font-family: arial, sans-serif;
}
body header {
  text-align: center;
  background: black;
  color: white;
  /* border: 3px white solid; */
  height: 42px;
  height: auto;
  width: 100%;
  padding: 8px 0;
}
body header p, body header h1 {
  display: inline-block;
  position: relative;
  top: 0px;
  vertical-align: middle;
}
body header h1 {
  font-size: 39px;
}
@media (max-width: 560px) {
  body header h1 {
    font-size: 7vw;
  }
}
body header img#snooker---app--logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: top;
  margin: 0 18px;
  border: solid #e5ff61 2px;
}
body main.interface-container {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1224px) {
  body main.interface-container {
    width: 1100px;
  }
}
@media (max-width: 1223px) {
  body main.interface-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 560px) {
  body main.interface-container {
    width: 90%;
  }
}
body main.interface-container .player---points--status {
  display: flex;
  font-size: 30px;
  margin: 14pt auto;
  /* justify-content: space-between; */
  align-items: center;
  /* border: solid yellow 1px; */
}
@media (max-width: 1223px) {
  body main.interface-container .player---points--status {
    font-size: 3.3vw;
  }
}
@media (max-width: 560px) {
  body main.interface-container .player---points--status {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  body main.interface-container .player---points--status {
    font-size: 5vw;
    margin: 4pt auto;
  }
}
body main.interface-container .active--player {
  /* font-size: $font---size--h2; */
  text-align: center;
  margin: 0 auto;
  width: 100%;
  margin: 0pt auto;
  /* line-height: 0.1; */
}
@media (max-width: 560px) {
  body main.interface-container .active--player {
    margin: 0pt auto;
    font-size: 12px;
    font-size: 28px;
  }
}
body main.interface-container .active--player #player_number {
  color: #e5ff61;
  width: 35px;
  height: 35px;
  margin: 0px 3px;
  display: inline-block;
  background: radial-gradient(farthest-corner at 30% 7%, white, #cd0000 27%, #cd0000);
  border-radius: 50%;
  position: relative;
  top: 1px;
  font-size: 30px;
  border: solid #000000 1px;
  box-shadow: black 2px 2px 4px 0px;
}
body main.interface-container .points--remaining {
  /* font-size: $font---size--h2; */
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 560px) {
  body main.interface-container .points--remaining {
    margin: 10pt auto;
    font-size: 12px;
  }
}
body main.interface-container .points--remaining #points_remaining {
  color: #e5ff61;
}
body main.interface-container .player---section {
  visibility: visible;
  background: #014819;
  border-radius: 7px;
  border: solid 1px #21a20d;
  /* box-shadow: gray -1px 1px 3px 0px; */
  margin: 15px auto;
}
body main.interface-container .player---section .player---score {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: none;
  margin: 0px auto;
  padding: 5px 0;
  display: flex;
  /* background: linear-gradient(360deg, #ccffb9, #dbff4c);
  /* background: green; */
  background: none;
  background: linear-gradient(180deg, #fff041 96%, #34ff29 6%);
}
body main.interface-container .player---section .player---score .player---at--table {
  background: #cd0000;
  margin: 6px 23px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* vertical-align: top; */
  border: solid #972828 2px;
  visibility: visible;
}
body main.interface-container .player---section .player---score #player---1--table {
  visibility: visible;
}
body main.interface-container .player---section .player---score #player---2--table {
  visibility: hidden;
}
body main.interface-container .player---section .player---score .player---number {
  margin-right: 50pt;
}
body main.interface-container .player---section .player---score .player---number h2 {
  color: #443f3f;
}
body main.interface-container .player---section .player---score .player---total--score {
  color: #443f3f;
  color: #ffe818;
  color: #cd0000;
  margin: 0px 35px 0 35px;
  /* font-size: $font---size--lg; */
  /* font-size: 16pt; */
  font-size: 13px;
  font-size: 13pt;
}
body main.interface-container .player---section .player---potting .player---pot--score {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 10px;
  display: inline-block;
  transition: box-shadow 0.3s ease-in-out;
}
body main.interface-container .player---section .player---potting .player---pot--score:hover {
  box-shadow: wheat 0 0 2px 2px;
}
body main.interface-container .player---section .player---potting .player---pot--score p {
  position: relative;
  top: 5px;
  margin: 0;
  padding: 0;
  color: white;
  color: black;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 15px;
}
body main.interface-container .player---section .player---potting .player---pot--red {
  background: #cd0000;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, #cd0000, 53%, #cd0000);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--red p {
  color: #00cdcd;
}
body main.interface-container .player---section .player---potting .player---pot--yellow {
  background: yellow;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, yellow, 53%, yellow);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--yellow p {
  color: blue;
}
body main.interface-container .player---section .player---potting .player---pot--green {
  background: green;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, green, 53%, green);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--green p {
  color: purple;
}
body main.interface-container .player---section .player---potting .player---pot--brown {
  background: brown;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, brown, 53%, brown);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--brown p {
  color: #2aa5a5;
}
body main.interface-container .player---section .player---potting .player---pot--blue {
  background: blue;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, blue, 53%, blue);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--blue p {
  color: yellow;
}
body main.interface-container .player---section .player---potting .player---pot--pink {
  background: pink;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, pink, 53%, pink);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--pink p {
  color: #c0fff4;
}
body main.interface-container .player---section .player---potting .player---pot--pink p {
  color: black;
}
body main.interface-container .player---section .player---potting .player---pot--black {
  background: #000000;
  content: "";
  background: radial-gradient(farthest-corner at 25% 8%, white, #000000, 53%, #000000);
  visibility: visible;
}
body main.interface-container .player---section .player---potting .player---pot--black p {
  color: black;
  color: white;
}
body main.interface-container .player---section .breaks---and--snookers {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  width: 46%;
  /* border: solid blue 2px; */
  line-height: 1.7;
  /* position: relative; */
  /* right: 25px; */
  text-align: right;
  font-size: 20px;
  vertical-align: top;
}
@media (max-width: 620px) {
  body main.interface-container .player---section .breaks---and--snookers {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 560px) {
  body main.interface-container .player---section .breaks---and--snookers {
    font-size: 12px;
  }
}
@media (max-width: 620px) {
  body main.interface-container .player---section .breaks---and--snookers {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 560px) {
  body main.interface-container .player---section .breaks---and--snookers {
    display: inline-block;
    font-size: 12px;
    font-size: 12px;
    /* padding: 0 31px; */
    text-align: center;
    margin: 0 auto;
  }
}
body main.interface-container .player---section .breaks---and--snookers div {
  background: none;
}
@media (max-width: 560px) {
  body main.interface-container .player---section .breaks---and--snookers div {
    display: inline-block;
    font-size: 12px;
    padding: 0 31px;
    text-align: center;
    margin: 0 auto;
  }
}
body main.interface-container .player---section .breaks---and--snookers div.snookers---required {
  /* font-size: 12px;*/
  /* color: #ff2f00; */
  color: #cd0000;
  color: white;
}
body main.interface-container .player---section .breaks---and--snookers div.snookers---required span {
  color: #ff5e00;
}
body main.interface-container .player---section .breaks---and--snookers div .highest---break,
body main.interface-container .player---section .breaks---and--snookers div .last---break {
  color: #ffe731;
}
body main.interface-container .player---potting {
  width: 52%;
  /* border: solid 1px orange; */
  /* width: 50%; */
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 620px) {
  body main.interface-container .player---potting {
    width: 100%;
    text-align: left;
  }
}
body main.interface-container .player---potting .player---pot--miss {
  display: inline-block;
  border: solid #647a63 1px;
  border-radius: 6px;
  background: #270202;
  font-size: 13px;
  margin: 4px;
  padding: 0 6px;
  /* width: 59px; */
  height: 28px;
  transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}
body main.interface-container .player---potting .player---pot--miss:hover {
  background: #660505;
}
@media (max-width: 560px) {
  body main.interface-container .player---potting .player---pot--miss {
    /* height: 20px; */
    /* height: auto; */
    width: 20px;
  }
}
@media (max-width: 560px) {
  body main.interface-container .player---potting .player---pot--miss {
    /* padding: 5px; */
    width: auto;
  }
}
body main.interface-container .player---potting .player---pot--miss:hover {
  box-shadow: wheat 0 0 2px 2px;
}
body main.interface-container .player---potting .player---pot--miss .pot---tally {
  /* color: white; */
  text-align: center;
  /* font-size: 13px; */
  position: relative;
  top: 7px;
  cursor: pointer;
}
body main.interface-container .player---potting .player---pot--miss #tally---potted--black-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--pink-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--blue-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--brown-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--green-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--yellow-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--red-p1,
body main.interface-container .player---potting .player---pot--miss #tally---potted--black-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--pink-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--blue-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--brown-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--green-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--yellow-p2,
body main.interface-container .player---potting .player---pot--miss #tally---potted--red-p2 {
  opacity: 0;
}
body main.interface-container .player---potting .player---pot--score {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  margin: 8px;
  display: inline-block;
  transition: box-shadow 0.3s ease-in-out;
}
@media (max-width: 560px) {
  body main.interface-container .player---potting .player---pot--score {
    height: 20px;
    width: 20px;
  }
}
body main.interface-container .player---potting .player---pot--score:hover {
  box-shadow: wheat 0 0 2px 2px;
}
body main.interface-container .player---potting .player---pot--score .pot---tally {
  /* color: white; */
  text-align: center;
  font-size: 13px;
  position: relative;
  top: 7px;
  cursor: pointer;
}
@media (max-width: 560px) {
  body main.interface-container .player---potting .player---pot--score .pot---tally {
    font-size: 8px;
    font-weight: bold;
  }
}
body main.interface-container .player---potting .player---pot--score #tally---potted--black-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--pink-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--blue-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--brown-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--green-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--yellow-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--red-p1,
body main.interface-container .player---potting .player---pot--score #tally---potted--black-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--pink-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--blue-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--brown-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--green-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--yellow-p2,
body main.interface-container .player---potting .player---pot--score #tally---potted--red-p2 {
  opacity: 0;
}
body main.interface-container .player---potting .player---points--difference {
  margin: 7px;
  visibility: hidden;
}
body main.interface-container .player---potting .player---points--difference .points---ahead #player---one--ahead {
  color: #ffe731;
}
body main.interface-container .player---potting .player---points--difference .points---ahead #player---two--ahead {
  color: #ffe731;
}
body main.interface-container .player---potting .player---points--difference .points---remaining #player---one--remaining {
  color: #ffe731;
}
body main.interface-container .player---potting .player---points--difference .points---remaining #player---two--remaining {
  color: #ffe731;
}
body .app---buttons {
  text-align: center;
  width: 100%;
  margin: 15px auto;
}
body .app---buttons a.app---button {
  text-decoration: none;
  margin: 0 4px;
  border-radius: 4px;
  /* background: #21a20d; */
  background: #2b322a;
  padding: 6px 12px;
  border: white solid 1px;
  color: white;
  font-size: 12px;
  transition: background 0.2s ease-in-out;
}
body .app---buttons a.app---button:hover {
  background: #178506;
}
body footer {
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 5px;
}
body footer p {
  text-align: center;
}
body footer p #app_versioning {
  font-size: 10px;
  padding: 0 8px;
}
body footer a {
  color: white;
  transition: color 0.3s ease-in-out;
}
body footer a:hover {
  color: #fff041;
}

/*# sourceMappingURL=style.css.map */
